<div *ngFor="let media of this.mediaDatabase">
  <div *ngIf="(media.id == 1)" class="container">

    <h4><b> Title: {{media.title}} </b></h4>
    <h4><b> Description: {{media.description}} </b></h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ds1xo-Hfq68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div *ngIf="(media.id == 2)" class="container">

    <h4><b> Title: {{media.title}} </b></h4>
    <h4><b> Description: {{media.description}} </b></h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/S1KPqet74EI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div *ngIf="(media.id == 3)" class="container">

    <h4><b> Title: {{media.title}} </b></h4>
    <h4><b> Description: {{media.description}} </b></h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/N67DOZ3KZXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
