table{
  width: 100%;
  border: 2px solid darkslategrey;
}

#buyPopup{
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 666;
  width: 35%;
  height: 64px;
  padding: 4px;
  color: whitesmoke;
  background: rgba(122, 28, 41, 0.89);
  border: 2px solid rgba(195, 0, 0, 0.9);
}

#closeBtn{
  width: 20px;
  position: relative;
  top: 2px;
  right: -95%;
  padding-left: 6px;
  color: #d8b70d;
  background-color: #570000;
}

#quantityIn{
  width: 16px;
  margin-right: 4px;
}
