<table mat-table [dataSource]="this.tourDates" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> <b>Date</b> </th>
    <td mat-cell *matCellDef="let tour"> {{tour.tourDate}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> <b>Country</b> </th>
    <td mat-cell *matCellDef="let tour"> {{tour.country}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> <b>State</b> </th>
    <td mat-cell *matCellDef="let tour"> {{tour.state}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> <b>City</b> </th>
    <td mat-cell *matCellDef="let tour"> {{tour.city}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="venue">
    <th mat-header-cell *matHeaderCellDef> <b>Venue</b> </th>
    <td mat-cell *matCellDef="let tour"> {{tour.venue}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="buyBtn">
    <th mat-header-cell *matHeaderCellDef> <b>Buy Tickets</b> </th>
    <td mat-cell *matCellDef="let tour">
      <button class="BuyBtn" (click)="buyTickets(tour)">Buy</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedTourColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedTourColumns;"></tr>
</table>

<form id="buyPopup" *ngIf="showBuyPopup">
  <button id="closeBtn"(click)="closeBuyTickets()">X</button>
  Buy tickets for:<br>
  {{this.tourToBuy.venue}} in {{tourToBuy.city}}, {{this.tourToBuy.state}}<br>
  Quantity:  <input id="quantityIn">
  <button>Add to Cart</button>
</form>
