<div class="navbar">
  <div class="links">
        <a id = "home" routerLink="home" routerLinkActive="active"> Home </a>
        <a id = "tour" routerLink="tour" routerLinkActive="active"> Tour </a>
        <a id = "merch" routerLink="merchandise" routerLinkActive="active"> Merch </a>
        <a id = "albums" routerLink="albums" routerLinkActive="active"> Albums </a>
        <a id = "band" routerLink="band" routerLinkActive="active"> Band </a>
        <a id = "media" routerLink="media" routerLinkActive="active"> Media </a>
        <a id = "news" routerLink="news" routerLinkActive="active"> News </a>
  </div>
</div>
