.navbar{
  background-color: maroon;
  height: 75px;
  display: flex;
  align-items: center;
}

.links a{
  text-decoration: none;
  color: lightgrey;
  border-radius: 8px;
  font-size: 17px;
  width: 100px;
  text-align: center;
  align-content: center;
  margin-left: 20px;
}

.navbar a:hover, a:active{
  background-color: #565656;
  color: lightgrey;
}

.navbar a:focus{
  background-color: #565656;
  color: lightgrey;
  height: 75px;
}

input:focus {
  outline: none;
}
