<div class="background">
  <div class="header">
    <div id="start">Riot</div>
    <div id="mid">of the</div>
    <div id="merlot">Merlot</div>
    <div id="end">Guitar</div>
  </div>
</div>
<div>
<app-navbar></app-navbar>
</div>
<router-outlet></router-outlet>
