.background {
  height: 150px;
  background-color: black;
  width: 100%;
}
.header{
  color: lightgrey;
  font-size: 5em;
}

#start {
  font-family: Metal;
  float: left;
  margin-top: 30px;
  margin-left: 34%;

}
#mid {
  font-family: Metal;
  float: left;
  font-size: 40px;
  margin-left: 10px;
  margin-top: 66px;
}
#merlot {
  color: maroon;
  font-weight: bold;
  font-family: Merlot;
  margin-left: 10px;
  margin-right: 20px;
  float: left;
  margin-top: 20px;
}
#end {
  font-family: Metal;
  float: left;
  margin-top: 30px;
}
