<div *ngFor="let bandMember of this.bandDatabase">

  <div class="column card oneFifth">
    <img src="{{bandMember.image}}" alt="" height="200">

    <div class="container">

      <h4><b> Name: {{bandMember.name}} </b></h4>
      <h4><b> Grade: {{bandMember.description}} </b></h4>

    </div>

  </div>

</div>
