.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: black;
}

.container {
  position: relative;
  padding: 2px 16px;
  background-color: lightgray;
}

/*.column{*/
  /*float: left;*/
  /*grid-column: auto;*/
/*}*/

/*.oneFifth*/
/*{*/
  /*width: 14%;*/
/*}*/
