/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/


@font-face {
  font-family: Merlot;
  src: url(/assets/merlot.ttf);
}

@font-face {
  font-family: Metal;
  src: url(/assets/metal.ttf);
}
