<div *ngFor="let info of albums" class="albums">

  <div class="tooltip">
    <img class="image" src="{{info.image}}" (mouseenter)="getAlbumTracks(info.id)"><br>
    <div class="tooltiptext">
      <div *ngFor="let trackinfo of tracks" >
        <span class="name">{{trackinfo.name}}</span>
        <span class="duration">{{trackinfo.duration}}</span>
      </div>
    </div>
  </div>

  <div class="text">
    <div class="name"> {{info.name}} </div><br>
    <div class="release_date">Released {{info.releaseDate | date: 'longDate'}} </div><br>
    <div class="description">{{info.description}}</div><br>
  </div>
</div>
