.albums {
  display: flex;
  margin: 5%;
  align-items: center;
}

.text {
  clear: both;
}

img {
  height: 300px;
  width: 300px;
  padding-right: 20px;
}

.tooltip {
  position: relative;
  font-size: 20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 270px;
  height: 260px;
  color: white;
  /*background-color: red;*/
  text-align: center;
  border-radius: 100%;
  padding-top: 70px;
  padding-left: 20px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.name {
  margin-right: 10px;
}
