<div id="container">
  <div class="SideColumn">
    <h3 class="HomeHeader">Upcoming Shows</h3>
    <mat-divider></mat-divider>
    <ul *ngIf="tourDates">
      <li *ngFor="let date of this.tourDates">
        {{date.tourDate}}, {{date.country}}, {{date.city}}, {{date.venue}}
      </li>
    </ul>
  </div>
  <div class="CenterColumn">
    <h3 class="HomeHeader">Newest Video</h3>
    <mat-divider></mat-divider>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/d-pSq4MJmy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="SideColumn">
    <h3 class="HomeHeader">Latest News</h3>
    <mat-divider></mat-divider>
    <ul *ngIf="this.newsItems">
      <li *ngFor="let item of this.newsItems">
        {{item.title}}
      </li>
    </ul>
  </div>
</div>
