*{
  box-sizing: border-box;
}

#ccontainer.after{
  content: "";
  display: table;
  clear: both;
}

.SideColumn {
  width: 30%;
  float: left;
}
.CenterColumn {
  width: 40%;
  float: left;
}

.HomeHeader{
  text-align: center;
}
